*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: f4f5f9;
  font-family: Roboto Slab;
}

body{
  min-width: 100vw;
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}